@model IEnumerable<GiaoHangTietKiem.Models.TaiKhoan>
@{
    ViewBag.Title = "UserManage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Hoverable Table rows -->
<div class="card">
    <h5 class="card-header">Danh sách tài khoản</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>Trạng thái</th>
                    <th>Tùy chỉnh</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.TenTK</strong></td>
                        <td>@item.Email</td>
                        <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                <li data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    class="avatar avatar-xs pull-up"
                                    title="Lilian Fuller">
                                    <img src="~/Admin/assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                </li>
                                <li data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    class="avatar avatar-xs pull-up"
                                    title="Sophia Wilkerson">
                                    <img src="~/Admin/assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />
                                </li>
                                <li data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    class="avatar avatar-xs pull-up"
                                    title="Christina Parker">
                                    <img src="~/Admin/assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                                </li>
                            </ul>
                        </td>
                        @if (item.TrangThai == true)
                        {
                            <td><span class="badge bg-label-success me-1">Đang hoạt động</span></td>
                        }
                        @if (item.TrangThai == false)
                        {
                            <td><span class="badge bg-label-danger me-1">Không hoạt động</span></td>
                        }
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("Role","Admin",new { @TenTK = item.TenTK})"><i class="bx bx-edit-alt me-1"></i> Chỉnh sửa</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Xóa</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--/ Hoverable Table rows -->
