@model string
@{
    ViewBag.Title = "ComfimForgetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<form class="login100-form validate-form" method="post" action="/Login/ComfimForgetPassword">
    <span class="login100-form-title p-b-43">
        Xác nhận Email
    </span>
    @Html.AntiForgeryToken()
    @if (TempData["AlretMessage"] != null)
    {
        <div id="AlertBox" class="alert @TempData["AlretType"] hide">
            @TempData["AlretMessage"]
        </div>
    }
    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="sms">
        <span class="focus-input100"></span>
        <span class="label-input100">Mã xác nhận</span>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Xác Nhận
        </button>
    </div>
</form>

